using QT.Common.Core.Manager;
using QT.Common.Core.Security;
@if(Model.IsExport)
{
@:using QT.ClayObject;
@:using QT.Common.Configuration;
@:using QT.Common.Models.NPOI;
@:using QT.DataEncryption;
}
using QT.Common.Enum;
using QT.Common.Extension;
using QT.Common.Filter;
using QT.Common.Security;
using QT.DependencyInjection;
using QT.DynamicApiController;
using QT.FriendlyException;
@if(Model.IsBillRule && Model.DbLinkId != "0")
{
@:using QT.Systems.Interfaces.System;
@:using QT.Systems.Entitys.System;
}else if(Model.IsBillRule)
{
@:using QT.Systems.Interfaces.System;
}else if(Model.DbLinkId != "0")
{
@:using QT.Systems.Interfaces.System;
@:using QT.Systems.Entitys.System;
}
using QT.@(@Model.NameSpace).Entitys.Dto.@Model.ClassName;
@foreach(var table in Model.AuxiliayTableRelations)
{
@*循环出副表的命名空间*@
@:using QT.@(@Model.NameSpace).Entitys.Dto.@(@table.TableName);
}
using QT.@(@Model.NameSpace).Entitys;
using QT.@(@Model.NameSpace).Interfaces;
using QT.WorkFlow.Entitys.Entity;
using QT.WorkFlow.Interfaces.Manager;
using QT.WorkFlow.Interfaces.Repository;
using Mapster;
using Microsoft.AspNetCore.Mvc;
using SqlSugar;

namespace QT.@(@Model.NameSpace);

/// <summary>
/// 业务实现：@(@Model.BusName).
/// </summary>
[ApiDescriptionSettings(Tag = "@(@Model.NameSpace)", Name = "@Model.ClassName", Order = 300)]
[Route("api/@(@Model.NameSpace)/[controller]")]
public class @(@Model.ClassName)Service : I@(@Model.ClassName)Service, IDynamicApiController, ITransient
{
    /// <summary>
    /// 服务基础仓储.
    /// </summary>
    private readonly ISqlSugarRepository<@(@Model.MainTable)Entity> _repository;
@if(Model.IsBillRule)
{
@:
    @:/// <summary>
    @:/// 单据规则服务.
    @:/// </summary>
    @:private readonly IBillRullService _billRullService;
}
@if(Model.DbLinkId != "0")
{
@:
    @:/// <summary>
    @:/// 数据库管理.
    @:/// </summary>
    @:private readonly IDataBaseManager _dataBaseManager;
}

    /// <summary>
    /// 流程任务管理.
    /// </summary>
    private readonly IFlowTaskManager _flowTaskManager;

    /// <summary>
    /// 流程任务仓储.
    /// </summary>
    private readonly IFlowTaskRepository _flowTaskRepository;

    /// <summary>
    /// 用户管理.
    /// </summary>
    private readonly IUserManager _userManager;

    /// <summary>
    /// 多租户事务.
    /// </summary>
    private readonly ITenant _db;
@if(Model.DbLinkId != "0")
{
@:
    @:/// <summary>
    @:/// 客户端.
    @:/// </summary>
    @:private SqlSugarClient _sqlSugarClient;
}

    /// <summary>
    /// 初始化一个<see cref="@(@Model.ClassName)Service"/>类型的新实例.
    /// </summary>
    public @(@Model.ClassName)Service(
        ISqlSugarRepository<@(@Model.MainTable)Entity> @(@Model.LowerMainTable)Repository,
@if(Model.IsBillRule)
{
        @:IBillRullService billRullService,
}
@if(Model.DbLinkId != "0")
{
        @:IDataBaseManager dataBaseManager,
}
        ISqlSugarClient context,
        IUserManager userManager,
        IFlowTaskManager flowTaskManager,
        IFlowTaskRepository flowTaskRepository)
    {
        _repository = @(@Model.LowerMainTable)Repository;
        _flowTaskManager = flowTaskManager;
        _flowTaskRepository = flowTaskRepository;
@if(Model.IsBillRule)
{
        @:_billRullService = billRullService;
}
@if(Model.DbLinkId != "0")
{
        @:_dataBaseManager = dataBaseManager;
        @:_sqlSugarClient = (SqlSugarClient)context;
}
        _db = context.AsTenant();
        _userManager = userManager;
    }
@foreach(var item in Model.Function)
{
@switch(item.FullName)
{
@*明细*@
case "info":
@:
    @:/// <summary>
    @:/// 获取@(@Model.BusName).
    @:/// </summary>
    @:/// <param name="id">参数.</param>
    @:/// <returns></returns>
    @:[HttpGet("{id}")]
    @:public async Task<dynamic> GetInfo(string id)
    @:{
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
        @:var output = (await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity>().FirstAsync(it => it.@(@Model.PrimaryKey) == id)).Adapt<@(@Model.MainTable)InfoOutput>();
}else{
        @:var output = (await _repository.FirstOrDefaultAsync(x => x.@(@Model.PrimaryKey) == id)).Adapt<@(@Model.MainTable)InfoOutput>();
}
@foreach(var table in Model.AuxiliayTableRelations)
{
@if(Model.DbLinkId != "0")
{
        @:var auxiliay@(@table.TableName) = (await _sqlSugarClient.Queryable<@(@table.TableName)Entity>().FirstAsync(it => it.@(@table.TableField).Equals(output.@(@table.LowerRelationField)))).Adapt<@(@table.TableName)InfoOutput>();
}else{
        @:var auxiliay@(@table.TableName) = (await _repository.Context.Queryable<@(@table.TableName)Entity>().FirstAsync(it => it.@(@table.TableField).Equals(output.@(@table.LowerRelationField)))).Adapt<@(@table.TableName)InfoOutput>();
}
        @:output = ConcurrentDictionaryExtensions.AssignmentObject<@(@Model.MainTable)InfoOutput, @(@table.TableName)InfoOutput>(output, auxiliay@(@table.TableName)).Adapt<@(@Model.MainTable)InfoOutput>();
}
        @:return output;
    @:}
break;
@*新增*@
case "add":
@:
    @:/// <summary>
    @:/// 新建@(@Model.BusName).
    @:/// </summary>
    @:/// <param name="input">参数.</param>
    @:/// <returns></returns>
    @:[HttpPost("")]
    @:public async Task Create([FromBody] @(@Model.MainTable)CrInput input)
    @:{
        @:switch (input.flowState)
        @:{
            @:case 0:
                @:await FlowSubmit(null, input.Adapt<@(@Model.MainTable)UpInput>());
                @:break;
            @:case 1:
                @:await FlowSave(null, input.Adapt<@(@Model.MainTable)UpInput>());
                @:break;
        @:}
    @:}
break;
@*编辑*@
case "edit":
@:
    @:/// <summary>
    @:/// 更新@(@Model.BusName).
    @:/// </summary>
    @:/// <param name="id">主键值.</param>
    @:/// <param name="input">参数.</param>
    @:/// <returns></returns>
    @:[HttpPut("{id}")]
    @:public async Task Update(string id, [FromBody] @(@Model.MainTable)UpInput input)
    @:{
        @:switch(input.flowState)
        @:{
            @:case 0:
                @:await FlowSubmit(id, input);
                @:break;
            @:case 1:
                @:await FlowSave(id, input);
                @:break;
        @:}
    @:}
break;
@*删除*@
case "remove":
@:
    @:/// <summary>
    @:/// 删除@(@Model.BusName).
    @:/// </summary>
    @:/// <returns></returns>
    @:[HttpDelete("{id}")]
    @:public async Task Delete(string id)
    @:{
@*跨库*@
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
        @:if(!await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity>().AnyAsync(it => it.@(@Model.PrimaryKey) == id))
}else{
        @:if(!await _repository.Context.Queryable<@(@Model.MainTable)Entity>().AnyAsync(it => it.@(@Model.PrimaryKey) == id))
}
        @:{
            @:throw Oops.Oh(ErrorCode.COM1005);
        @:}
@:
        @:try
        @:{
            @:// 开启事务
            @:_db.BeginTran();
@:
@if(Model.DbLinkId != "0")
{
            @:var entity = await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity>().FirstAsync(it => it.@(@Model.PrimaryKey).Equals(id));
            @:await _sqlSugarClient.Deleteable<@(@Model.MainTable)Entity>().Where(it => it.@(@Model.PrimaryKey).Equals(id)).ExecuteCommandAsync();
}else{
            @:var entity = await _repository.AsQueryable().FirstAsync(it => it.@(@Model.PrimaryKey).Equals(id));
            @:await _repository.Context.Deleteable<@(@Model.MainTable)Entity>().Where(it => it.@(@Model.PrimaryKey).Equals(id)).ExecuteCommandAsync();
}
@:
@foreach(var table in Model.AuxiliayTableRelations)
{
                @:// 清空@(@table.TableComment)表数据
@if(Model.DbLinkId != "0")
{
            @:await _sqlSugarClient.Deleteable<@(@table.TableName)Entity>().Where(it => it.@(@table.TableField).Equals(entity.@(@table.RelationField))).ExecuteCommandAsync();
}
else
{
            @:await _repository.Context.Deleteable<@(@table.TableName)Entity>().Where(it => it.@(@table.TableField).Equals(entity.@(@table.RelationField))).ExecuteCommandAsync();
}
@:
}
            @:await _repository.Context.Updateable<FlowTaskEntity>().SetColumns(it => new FlowTaskEntity()
            @:{
                @:DeleteMark = 1,
                @:DeleteUserId = _userManager.UserId,
                @:DeleteTime = SqlFunc.GetDate()
            @:}).Where(it => it.Id == id).ExecuteCommandAsync();
@:
            @:// 关闭事务
            @:_db.CommitTran();
        @:}
        @:catch (Exception)
        @:{
            @:// 回滚事务
            @:_db.RollbackTran();
@:
            @:throw Oops.Oh(ErrorCode.COM1002);
        @:}
    @:}
break;
@*分页列表*@
case "page":
@:
    @:/// <summary>
    @:/// 获取@(@Model.BusName)列表.
    @:/// </summary>
    @:/// <param name="input">请求参数.</param>
    @:/// <returns></returns>
@if(@item.IsInterface)
{
    @:[HttpGet("")]
    @:public async Task<dynamic> GetList([FromQuery] @(@Model.MainTable)ListQueryInput input)
}
else
{
    @:private async Task<dynamic> GetList([FromQuery] @(@Model.MainTable)ListQueryInput input)
}
    @:{
@if(Model.UseDataPermission)
{
        @:var authorizeWhere = new List<IConditionalModel>();
@:
        @:// 数据权限过滤
        @:if (_userManager.User.IsAdministrator == 0)
        @:{
            @:authorizeWhere = await _userManager.GetDataConditionAsync<@(@Model.MainTable)ListOutput>(input.menuId, "@(@Model.LowerPrimaryKey)", _userManager.UserOrigin.Equals("pc") ? @(@Model.PcUseDataPermission) : @(@Model.AppUseDataPermission));
        @:}
@:
}
@foreach(var table in Model.TableField)
{
@*是查询条件*@
@if(table.QueryWhether)
{
@switch(table.QueryType)
{
case 1:
@switch(table.IsAuxiliary)
{
case true:
@switch(table.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
        @:var auxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToList().Last();
break;
default:
@if(table.IsMultiple)
{
        @:var auxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToList().Last();
}
break;
}
break;
default:
@switch(table.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
        @:var @(@table.LowerColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToList().Last();
break;
default:
@if(table.IsMultiple)
{
        @:var @(@table.LowerColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToList().Last();
}
break;
}
break;
}
break;
case 3:
@switch(table.IsAuxiliary)
{
case true:
@switch(table.qtKey)
{
case "time":
        @:List<string> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<string>>();
        @:var startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First();
        @:var endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last();
break;
case "numInput":
case "calculate":
        @:List<object> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<object>>();
        @:var startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First().ParseToDecimal() == 0 ? decimal.MinValue : queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First().ParseToDecimal();
        @:var endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last().ParseToDecimal() == 0 ? decimal.MaxValue : queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last().ParseToDecimal();
break;
default:
        @:List<DateTime> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<DateTime>>();
        @:DateTime? startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First();
        @:DateTime? endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last();
break;
}
break;
default:
@switch(table.qtKey)
{
case "time":
        @:List<string> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<string>>();
        @:var start@(@table.ColumnName) = query@(@table.ColumnName)?.First();
        @:var end@(@table.ColumnName) = query@(@table.ColumnName)?.Last();
break;
case "numInput":
case "calculate":
        @:List<object> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<object>>();
        @:var start@(@table.ColumnName) = query@(@table.ColumnName)?.First().ParseToDecimal() == 0 ? decimal.MinValue : query@(@table.ColumnName)?.First().ParseToDecimal();
        @:var end@(@table.ColumnName) = query@(@table.ColumnName)?.Last().ParseToDecimal() == 0 ? decimal.MaxValue : query@(@table.ColumnName)?.Last().ParseToDecimal();
break;
default:
        @:List<DateTime> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<DateTime>>();
        @:DateTime? start@(@table.ColumnName) = query@(@table.ColumnName)?.First();
        @:DateTime? end@(@table.ColumnName) = query@(@table.ColumnName)?.Last();
break;
}
break;
}
break;
}
}
}
@{var tableNo = Model.AuxiliayTableRelations.Count; }
@*跨库*@
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
        @:var data = await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity, @foreach(var table in Model.AuxiliayTableRelations){@(@table.TableName + "Entity")@(@tableNo == 1 ? ", FlowTaskEntity>" : ",")tableNo--;}((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new JoinQueryInfos(@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@("JoinType.Left, a" + @table.TableNo + "." + @table.TableField + " == a." + @table.RelationField)@(@tableNo == 1 ? ", JoinType.Left, a.Id == b.Id)" : ", ")tableNo--;})
}else{
        @:var data = await _repository.Context.Queryable<@(@Model.MainTable)Entity, @foreach(var table in Model.AuxiliayTableRelations){@(@table.TableName + "Entity")@(@tableNo == 1 ? ", FlowTaskEntity>" : ",") tableNo--;}((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new JoinQueryInfos(@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@("JoinType.Left, a" + @table.TableNo + "." + @table.TableField + " == a." + @table.RelationField)@(@tableNo == 1 ? ", JoinType.Left, a.Id == b.Id)" : ", ")tableNo--;})
}
            @:.Select((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new @(@Model.MainTable)ListOutput
            @:{
@*循环展示字段*@
@foreach (var column in Model.TableField){
@if (column.PrimaryKey){
                @:@(@column.LowerColumnName) = a.@column.ColumnName,
}else if(column.IsShow){
@switch(column.IsAuxiliary)
{
case true:
@switch(column.qtKey)
{
case "switch":
                @:qt_@(@column.TableName)_qt_@(@column.LowerColumnName) = SqlFunc.IIF(a@(@column.TableNo).@(@column.ColumnName) == 0, "@(@column.InactiveTxt)", "@(@column.ActiveTxt)"),
break;
default:
                @:qt_@(@column.TableName)_qt_@(@column.LowerColumnName) = a@(@column.TableNo).@(@column.ColumnName),
break;
}
break;
default:
@switch(column.qtKey)
{
case "switch":
                @:@(@column.LowerColumnName) = SqlFunc.IIF(a.@(@column.ColumnName) == 0, "@(@column.InactiveTxt)", "@(@column.ActiveTxt)"),
break;
default:
                @:@(@column.LowerColumnName) = a.@column.ColumnName,
break;
}
break;
}

}
}
                @:flowId = b.FlowId,
                @:flowState = b.Status
            @:})
            @:.MergeTable()
@*循环查询条件*@
@foreach(var field in Model.TableField)
{
@*是否查询条件*@
@switch(field.QueryWhether)
{
case true:
@switch(field.IsAuxiliary)
{
case true:
@*查询方式*@
@switch(field.QueryType)
{
@*查询方式为等于*@
case 1:
@*多选控件*@
@if(field.IsMultiple)
{
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(auxiliary@(@field.ColumnName)_@(@field.TableNo)))
}else{
@switch(field.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(auxiliary@(@field.ColumnName)_@(@field.TableNo)))
break;
case "checkbox":
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
default:
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Equals(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
}
}
break;
@*查询类型为模糊查询*@
case 2:
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
@*查询类型为范围查询*@
case 3:
@switch(field.qtKey)
{
case "time":
case "numInput":
case "calculate":
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo), endAuxiliary@(@field.ColumnName)_@(@field.TableNo)))
break;
default:
@if(field.IsDateTime)
{
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd HH:mm:ss"), endAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd HH:mm:ss")))
}else{
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd 00:00:00"), endAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd 23:59:59")))
}
break;
}
break;
}
break;
default:
@*查询方式*@
@switch(field.QueryType)
{
@*查询方式为等于*@
case 1:
@*多选控件*@
@if(field.IsMultiple)
{
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(@(@field.LowerColumnName)))
}else{
@switch(field.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(@(@field.LowerColumnName)))
break;
case "checkbox":
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(input.@(@field.LowerColumnName)))
break;
default:
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Equals(input.@(@field.LowerColumnName)))
break;
}
}
break;
@*查询类型为模糊查询*@
case 2:
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(input.@(@field.LowerColumnName)))
break;
@*查询类型为范围查询*@
case 3:
@switch(field.qtKey)
{
case "time":
case "numInput":
case "calculate":
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName), end@(@field.ColumnName)))
break;
default:
@if(field.IsDateTime)
{
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd HH:mm:ss"), end@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd HH:mm:ss")))
}else{
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd 00:00:00"), end@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd 23:59:59")))
}
break;
}
break;
}
break;
}
break;
}
}
@if(Model.SearchControlNum > 0)
{
@{var n = Model.SearchControlNum;}
            @:.WhereIF(!string.IsNullOrEmpty(input.keyword), it =>
@foreach (var table in Model.TableField)
{
@switch(table.IsAuxiliary)
{
case true:
@switch(table.QueryType)
{
case 1:
case 2:
                @:@(n == Model.SearchControlNum ? "" : "|| ")it.qt_@(@table.TableName)_qt_@(@table.LowerColumnName).Contains(input.keyword)@{ n--; }@(n == 0 ? ")" : "")
break;
}
break;
default:
@switch(table.QueryType)
{
case 1:
case 2:
                @:@(n == Model.SearchControlNum ? "" : "|| ")it.@(@table.LowerColumnName).Contains(input.keyword)@{ n--; }@(n == 0 ? ")" : "")
break;
}
break;
}
}
}
@if(Model.UseDataPermission)
{
            @:.Where(authorizeWhere)
}
@foreach (var column in Model.TableField)
{
@switch(column.PrimaryKey)
{
case true:
            @:.OrderByIF(string.IsNullOrEmpty(input.sidx), it => it.@(@column.LowerColumnName))
break;
}
}
            @:.OrderByIF(!string.IsNullOrEmpty(input.sidx), it => input.sidx + " " + input.sort).ToPagedListAsync(input.currentPage, input.pageSize);
        @:return PageResult<@(@Model.MainTable)ListOutput>.SqlSugarPageResult(data);
    @:}
break;
case "noPage":
@:
    @:/// <summary>
    @:/// 获取@(@Model.BusName)无分页列表.
    @:/// </summary>
    @:/// <param name="input">请求参数.</param>
    @:/// <returns></returns>
@if(@item.IsInterface)
{
    @:[HttpGet("")]
    @:public async Task<dynamic> GetNoPagingList([FromQuery] @(@Model.MainTable)ListQueryInput input)
}
else
{
    @:private async Task<dynamic> GetNoPagingList([FromQuery] @(@Model.MainTable)ListQueryInput input)
}
    @:{
@if(Model.UseDataPermission)
{
        @:var authorizeWhere = new List<IConditionalModel>();
@:
        @:// 数据权限过滤
        @:if (_userManager.User.IsAdministrator == 0)
        @:{
            @:authorizeWhere = await _userManager.GetDataConditionAsync<@(@Model.MainTable)ListOutput>(input.menuId, "@(@Model.LowerPrimaryKey)", _userManager.UserOrigin.Equals("pc") ? @(@Model.PcUseDataPermission) : @(@Model.AppUseDataPermission));
        @:}
@:
}
@foreach(var table in Model.TableField)
{
@*是查询条件*@
@if(table.QueryWhether)
{
@switch(table.QueryType)
{
case 1:
@switch(table.IsAuxiliary)
{
case true:
@switch(table.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
        @:var auxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToList().Last();
break;
default:
@if(table.IsMultiple)
{
        @:var auxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToList().Last();
}
break;
}
break;
default:
@switch(table.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
        @:var @(@table.LowerColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToList().Last();
break;
default:
@if(table.IsMultiple)
{
        @:var @(@table.LowerColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToList().Last();
}
break;
}
break;
}
break;
case 3:
@switch(table.IsAuxiliary)
{
case true:
@switch(table.qtKey)
{
case "time":
        @:List<string> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<string>>();
        @:var startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First();
        @:var endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last();
break;
case "numInput":
case "calculate":
        @:List<object> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<object>>();
        @:var startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First().ParseToDecimal() == 0 ? decimal.MinValue : queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First().ParseToDecimal();
        @:var endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last().ParseToDecimal() == 0 ? decimal.MaxValue : queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last().ParseToDecimal();
break;
default:
        @:List<DateTime> queryAuxiliary@(@table.ColumnName)_@(@table.TableNo) = input.qt_@(@table.TableName)_qt_@(@table.LowerColumnName)?.Split(',').ToObject<List<DateTime>>();
        @:DateTime? startAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.First();
        @:DateTime? endAuxiliary@(@table.ColumnName)_@(@table.TableNo) = queryAuxiliary@(@table.ColumnName)_@(@table.TableNo)?.Last();
break;
}
break;
default:
@switch(table.qtKey)
{
case "time":
        @:List<string> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<string>>();
        @:var start@(@table.ColumnName) = query@(@table.ColumnName)?.First();
        @:var end@(@table.ColumnName) = query@(@table.ColumnName)?.Last();
break;
case "numInput":
case "calculate":
        @:List<object> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<object>>();
        @:var start@(@table.ColumnName) = query@(@table.ColumnName)?.First().ParseToDecimal() == 0 ? decimal.MinValue : query@(@table.ColumnName)?.First().ParseToDecimal();
        @:var end@(@table.ColumnName) = query@(@table.ColumnName)?.Last().ParseToDecimal() == 0 ? decimal.MaxValue : query@(@table.ColumnName)?.Last().ParseToDecimal();
break;
default:
        @:List<DateTime> query@(@table.ColumnName) = input.@(@table.LowerColumnName)?.Split(',').ToObject<List<DateTime>>();
        @:DateTime? start@(@table.ColumnName) = query@(@table.ColumnName)?.First();
        @:DateTime? end@(@table.ColumnName) = query@(@table.ColumnName)?.Last();
break;
}
break;
}
break;
}
}
}
@{tableNo = Model.AuxiliayTableRelations.Count; }
@*跨库*@
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
        @:return await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity, @foreach(var table in Model.AuxiliayTableRelations){@(@table.TableName + "Entity")@(@tableNo == 1 ? ", FlowTaskEntity>" : ",")tableNo--;}((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new JoinQueryInfos(@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@("JoinType.Left, a" + @table.TableNo + "." + @table.TableField + " == a." + @table.RelationField)@(@tableNo == 1 ? ", JoinType.Left, a.Id == b.Id)" : ", ")tableNo--;})
}else{
        @:return await _repository.Context.Queryable<@(@Model.MainTable)Entity, @foreach(var table in Model.AuxiliayTableRelations){@(@table.TableName + "Entity")@(@tableNo == 1 ? ", FlowTaskEntity>" : ",") tableNo--;}((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new JoinQueryInfos(@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@("JoinType.Left, a" + @table.TableNo + "." + @table.TableField + " == a." + @table.RelationField)@(@tableNo == 1 ? ", JoinType.Left, a.Id == b.Id)" : ", ")tableNo--;})
}
            @:.Select((a,@{tableNo = Model.AuxiliayTableRelations.Count;}@foreach(var table in Model.AuxiliayTableRelations){@(" a" + @table.TableNo)@(@tableNo == 1 ? ", b)" : ",")tableNo--;} => new @(@Model.MainTable)ListOutput
            @:{
@*循环展示字段*@
@foreach (var column in Model.TableField){
@if (column.PrimaryKey){
                @:@(@column.LowerColumnName) = a.@column.ColumnName,
}else if(column.IsShow){
@switch(column.IsAuxiliary)
{
case true:
@switch(column.qtKey)
{
case "switch":
                @:qt_@(@column.TableName)_qt_@(@column.LowerColumnName) = SqlFunc.IIF(a@(@column.TableNo).@(@column.ColumnName) == 0, "@(@column.InactiveTxt)", "@(@column.ActiveTxt)"),
break;
default:
                @:qt_@(@column.TableName)_qt_@(@column.LowerColumnName) = a@(@column.TableNo).@(@column.ColumnName),
break;
}
break;
default:
@switch(column.qtKey)
{
case "switch":
                @:@(@column.LowerColumnName) = SqlFunc.IIF(a.@(@column.ColumnName) == 0, "@(@column.InactiveTxt)", "@(@column.ActiveTxt)"),
break;
default:
                @:@(@column.LowerColumnName) = a.@column.ColumnName,
break;
}
break;
}

}
}
                @:flowId = b.FlowId,
                @:flowState = b.Status
            @:})
            @:.MergeTable()
@*循环查询条件*@
@foreach(var field in Model.TableField)
{
@*是否查询条件*@
@switch(field.QueryWhether)
{
case true:
@switch(field.IsAuxiliary)
{
case true:
@*查询方式*@
@switch(field.QueryType)
{
@*查询方式为等于*@
case 1:
@*多选控件*@
@if(field.IsMultiple)
{
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(auxiliary@(@field.ColumnName)_@(@field.TableNo)))
}else{
@switch(field.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(auxiliary@(@field.ColumnName)_@(@field.TableNo)))
break;
case "checkbox":
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
default:
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Equals(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
}
}
break;
@*查询类型为模糊查询*@
case 2:
            @:.WhereIF(!string.IsNullOrEmpty(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)), it => it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName).Contains(input.qt_@(@field.TableName)_qt_@(@field.LowerColumnName)))
break;
@*查询类型为范围查询*@
case 3:
@switch(field.qtKey)
{
case "time":
case "numInput":
case "calculate":
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo), endAuxiliary@(@field.ColumnName)_@(@field.TableNo)))
break;
default:
@if(field.IsDateTime)
{
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd HH:mm:ss"), endAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd HH:mm:ss")))
}else{
            @:.WhereIF(queryAuxiliary@(@field.ColumnName)_@(@field.TableNo) != null, it => SqlFunc.Between(it.qt_@(@field.TableName)_qt_@(@field.LowerColumnName), startAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd 00:00:00"), endAuxiliary@(@field.ColumnName)_@(@field.TableNo).ParseToDateTime("yyyy-MM-dd 23:59:59")))
}
break;
}
break;
}
break;
default:
@*查询方式*@
@switch(field.QueryType)
{
@*查询方式为等于*@
case 1:
@*多选控件*@
@if(field.IsMultiple)
{
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(@(@field.LowerColumnName)))
}else{
@switch(field.qtKey)
{
case "cascader":
case "address":
case "comSelect":
case "currOrganize":
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(@(@field.LowerColumnName)))
break;
case "checkbox":
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(input.@(@field.LowerColumnName)))
break;
default:
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Equals(input.@(@field.LowerColumnName)))
break;
}
}
break;
@*查询类型为模糊查询*@
case 2:
            @:.WhereIF(!string.IsNullOrEmpty(input.@(@field.LowerColumnName)), it => it.@(@field.LowerColumnName).Contains(input.@(@field.LowerColumnName)))
break;
@*查询类型为范围查询*@
case 3:
@switch(field.qtKey)
{
case "time":
case "numInput":
case "calculate":
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName), end@(@field.ColumnName)))
break;
default:
@if(field.IsDateTime)
{
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd HH:mm:ss"), end@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd HH:mm:ss")))
}else{
            @:.WhereIF(query@(@field.ColumnName) != null, it => SqlFunc.Between(it.@(@field.LowerColumnName), start@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd 00:00:00"), end@(@field.ColumnName).ParseToDateTime("yyyy-MM-dd 23:59:59")))
}
break;
}
break;
}
break;
}
break;
}
}
@if(Model.SearchControlNum > 0)
{
@{var n = Model.SearchControlNum;}
            @:.WhereIF(!string.IsNullOrEmpty(input.keyword), it =>
@foreach (var table in Model.TableField)
{
@switch(table.IsAuxiliary)
{
case true:
@switch(table.QueryType)
{
case 1:
case 2:
                @:@(n == Model.SearchControlNum ? "" : "|| ")it.qt_@(@table.TableName)_qt_@(@table.LowerColumnName).Contains(input.keyword)@{ n--; }@(n == 0 ? ")" : "")
break;
}
break;
default:
@switch(table.QueryType)
{
case 1:
case 2:
                @:@(n == Model.SearchControlNum ? "" : "|| ")it.@(@table.LowerColumnName).Contains(input.keyword)@{ n--; }@(n == 0 ? ")" : "")
break;
}
break;
}
}
}
@if(Model.UseDataPermission)
{
            @:.Where(authorizeWhere)
}
@foreach (var column in Model.TableField)
{
@switch(column.PrimaryKey)
{
case true:
            @:.OrderByIF(string.IsNullOrEmpty(input.sidx), it => it.@(@column.LowerColumnName))
break;
}
}
            @:.OrderByIF(!string.IsNullOrEmpty(input.sidx), it => input.sidx + " " + input.sort).ToListAsync();
    @:}
break;
@*导出*@
case "download":
@:
    @:/// <summary>
    @:/// 导出@(@Model.BusName).
    @:/// </summary>
    @:/// <param name="input">请求参数.</param>
    @:/// <returns></returns>
    @:[HttpGet("Actions/Export")]
    @:public async Task<dynamic> Export([FromQuery] @(@Model.MainTable)ListQueryInput input)
    @:{
        @:var exportData = new List<@(@Model.MainTable)ListOutput>();
        @:if (input.dataType == 0)
            @:exportData = Clay.Object(await GetList(input)).Solidify<PageResult<@(@Model.MainTable)ListOutput>>().list;
        @:else
            @:exportData = await GetNoPagingList(input);
        @:List<ParamsModel> paramList = "[@(@Model.ExportField)]".ToList<ParamsModel>();
        @:ExcelConfig excelconfig = new ExcelConfig();
        @:excelconfig.FileName = "@(@Model.FullName).xls";
        @:excelconfig.HeadFont = "微软雅黑";
        @:excelconfig.HeadPoint = 10;
        @:excelconfig.IsAllSizeColumn = true;
        @:excelconfig.ColumnModel = new List<ExcelColumnModel>();
        @:foreach (var item in input.selectKey.Split(',').ToList())
        @:{
            @:var isExist = paramList.Find(p => p.field == item);
            @:if (isExist != null)
                @:excelconfig.ColumnModel.Add(new ExcelColumnModel() { Column = isExist.field, ExcelColumn = isExist.value });
        @:}
@:
        @:var addPath = FileVariable.TemporaryFilePath + excelconfig.FileName;
        @:ExcelExportHelper<@(@Model.MainTable)ListOutput>.Export(exportData, excelconfig, addPath);
        @:var fileName = _userManager.UserId + "|" + addPath + "|xls";
        @:return new
        @:{
            @:name = excelconfig.FileName,
            @:url = "/api/File/Download?encryption=" + DESCEncryption.Encrypt(fileName, "QT")
        @:};
    @:}
break;
@*批量删除*@
case "batchRemove":
@:
    @:/// <summary>
    @:/// 批量删除@(@Model.BusName).
    @:/// </summary>
    @:/// <param name="ids">主键数组.</param>
    @:/// <returns></returns>
    @:[HttpPost("batchRemove")]
    @:public async Task BatchRemove([FromBody] List<string> ids)
    @:{
        @:ids = await GetAllowDeleteFlowTaskList(ids);
@*跨库*@
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
        @:var entitys = await _sqlSugarClient.Queryable<@(@Model.MainTable)Entity>().In(it => it.@(@Model.PrimaryKey), ids).ToListAsync();
}else{
        @:var entitys = await _repository.Context.Queryable<@(@Model.MainTable)Entity>().In(it => it.@(@Model.PrimaryKey), ids).ToListAsync();
}
        @:if (entitys.Count > 0)
        @:{
            @:try
            @:{
                @:// 开启事务
                @:_db.BeginTran();
@:
                @:// 批量删除@(@Model.BusName)
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Deleteable<@(@Model.MainTable)Entity>().In(it => it.@(@Model.PrimaryKey),ids).ExecuteCommandAsync();
}
else
{
                @:await _repository.Context.Deleteable<@(@Model.MainTable)Entity>().In(it => it.@(@Model.PrimaryKey),ids).ExecuteCommandAsync();
}
@:
@foreach(var table in Model.AuxiliayTableRelations)
{
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Deleteable<@(@table.TableName)Entity>().In(it => it.@(@table.TableField), entitys.Select(it=> it.@(@table.RelationField))).ExecuteCommandAsync();
}
else
{
                @:await _repository.Context.Deleteable<@(@table.TableName)Entity>().In(it => it.@(@table.TableField), entitys.Select(it=> it.@(@table.RelationField))).ExecuteCommandAsync();
}
@:
}
                @:await _repository.Context.Updateable<FlowTaskEntity>().SetColumns(it => new FlowTaskEntity()
                @:{
                    @:DeleteMark = 1,
                    @:DeleteUserId = _userManager.UserId,
                    @:DeleteTime = SqlFunc.GetDate()
                @:}).Where(it => ids.Contains(it.Id)).ExecuteCommandAsync();
@:
                @:// 关闭事务
                @:_db.CommitTran();
            @:}
            @:catch (Exception)
            @:{
                @:// 回滚事务
                @:_db.RollbackTran();
@:
                @:throw Oops.Oh(ErrorCode.COM1002);
            @:}
        @:}
    @:}
@:
    @:/// <summary>
    @:/// 获取允许删除任务列表.
    @:/// </summary>
    @:/// <param name="ids">id数组</param>
    @:/// <returns></returns>
    @:private async Task<List<string>> GetAllowDeleteFlowTaskList(List<string> ids)
    @:{
        @:return await _repository.Context.Queryable<FlowTaskEntity>().Where(it => ids.Contains(it.Id) && it.Status.Equals(0)).Select(f => f.Id).ToListAsync();
    @:}
break;
}
}

    /// <summary>
    /// 流程保存.
    /// </summary>
    /// <param name="id">主键值.</param>
    /// <param name="input">表单信息.</param>
    /// <returns></returns>
    private async Task FlowSave(string id, @(@Model.MainTable)UpInput input)
    {
        try
        {
            // 开启事务
            _db.BeginTran();

            await HandleForm(id, input);

            await _flowTaskManager.Save(id, input.@(@Model.FlowIdFieldName), input.@(@Model.LowerPrimaryKey), _userManager.User.RealName + "的@(@Model.FullName)", 1, null, input, 1, 0, true);
            
            // 关闭事务
            _db.CommitTran();
        }
        catch (Exception e)
        {
            // 回滚事务
            _db.RollbackTran();
            throw Oops.Oh("流程保存失败！");
        }
    }

    /// <summary>
    /// 提交审核.
    /// </summary>
    /// <param name="id">主键值.</param>
    /// <param name="input">表单信息.</param>
    /// <returns></returns>
    private async Task FlowSubmit(string id, @(@Model.MainTable)UpInput input)
    {
        try
        {
            // 开启事务
            _db.BeginTran();
            
            await HandleForm(id, input);

            await _flowTaskManager.Submit(id, input.@(@Model.FlowIdFieldName), input.@(@Model.LowerPrimaryKey), _userManager.User.RealName + "的@(@Model.FullName)", 1, null, input, 0, 0, true, false, input.candidateList);

            // 关闭事务
            _db.CommitTran();
        }
        catch (Exception)
        {
            // 回滚事务
            _db.RollbackTran();
            throw Oops.Oh("流程提交失败！");
        }
    }

    /// <summary>
    /// 表单操作.
    /// </summary>
    /// <param name="id">主键值.</param>
    /// <param name="entity">表单数据.</param>
    /// <returns></returns>
    private async Task HandleForm(string id, @(@Model.MainTable)UpInput input)
    {
@*跨库*@
@if(Model.DbLinkId != "0")
{
        @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
        @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
}
        var entity = input.Adapt<@(@Model.MainTable)Entity>();

        if (string.IsNullOrEmpty(id))
        {
            entity.@(@Model.PrimaryKey) = SnowflakeIdHelper.NextId();
@foreach(var column in Model.TableField)
{
@if(!column.IsAuxiliary)
{
@switch(column.qtKey)
{
case "createTime":
            @:entity.@column.ColumnName = DateTime.Now;
break;
case "createUser":
            @:entity.@column.ColumnName = _userManager.UserId;
break;
case "currPosition":
            @:entity.@column.ColumnName = _userManager.User.PositionId;
break;
case "currOrganize":
            @:entity.@column.ColumnName = _userManager.User.OrganizeId;
break;
case "billRule":
            @:entity.@column.ColumnName = await _billRullService.GetBillNumber("@(@column.Rule)");
break;
}
}
}

@foreach(var table in Model.AuxiliayTableRelations)
{
            @:var auxiliay@(@table.TableName) = input.Adapt<@(@table.TableName)Entity>();
            @:auxiliay@(@table.TableName).@(@table.PrimaryKey) = SnowflakeIdHelper.NextId();
            @:auxiliay@(@table.TableName).@(@table.TableField) = entity.@(@table.RelationField);
@foreach(var column in Model.TableField)
{
@if(column.IsAuxiliary && column.TableName == table.OriginalTableName)
{
@switch(column.qtKey)
{
case "createTime":
            @:auxiliay@(@table.TableName).@column.ColumnName = DateTime.Now;
break;
case "createUser":
            @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.UserId;
break;
case "currPosition":
            @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.User.PositionId;
break;
case "currOrganize":
            @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.User.OrganizeId;
break;
case "billRule":
            @:auxiliay@(@table.TableName).@column.ColumnName = await _billRullService.GetBillNumber("@(@column.Rule)");
break;
}
}
}
@:
}
            try
            {
                // 开启事务
                _db.BeginTran();

@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Insertable(entity).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}
else
{
                @:await _repository.Context.Insertable(entity).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}

@foreach(var table in Model.AuxiliayTableRelations)
{
@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Insertable(auxiliay@(@table.TableName)).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}else{
                @:await _repository.Context.Insertable(auxiliay@(@table.TableName)).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}
@:
}
                // 关闭事务
                _db.CommitTran();
            }
            catch (Exception)
            {
                // 回滚事务
                _db.RollbackTran();

                throw Oops.Oh(ErrorCode.COM1000);
            }
        }
        else
        {
            entity.@(@Model.PrimaryKey) = id;
@foreach(var column in Model.TableField)
{
@switch(column.qtKey)
{
case "modifyTime":
            @:entity.@column.ColumnName = DateTime.Now;
break;
case "modifyUser":
            @:entity.@column.ColumnName = _userManager.UserId;
break;
}
}

@foreach(var table in Model.AuxiliayTableRelations)
{
            @:var auxiliay@(@table.TableName) = input.Adapt<@(@table.TableName)Entity>();
@foreach(var column in Model.TableField)
{
@if(column.IsAuxiliary && column.TableName == table.OriginalTableName)
{
@switch(column.qtKey)
{
case "modifyTime":
            @:auxiliay@(@table.TableName).@column.ColumnName = DateTime.Now;
break;
case "modifyUser":
            @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.UserId;
break;
}
}
}
@:
}
            try
            {
                // 开启事务
                _db.BeginTran();

@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Updateable(entity).IgnoreColumns(ignoreAllNullColumns: true).ExecuteCommandAsync();
}
else
{
                @:await _repository.Context.Updateable(entity).IgnoreColumns(ignoreAllNullColumns: true).ExecuteCommandAsync();
}

@foreach(var table in Model.AuxiliayTableRelations)
{
@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Updateable(auxiliay@(@table.TableName)).Where(it => it.@(@table.TableField) == entity.@(@table.RelationField)).IgnoreColumns(ignoreAllNullColumns: true).ExecuteCommandAsync();
}else{
                @:await _repository.Context.Updateable(auxiliay@(@table.TableName)).Where(it => it.@(@table.TableField) == entity.@(@table.RelationField)).IgnoreColumns(ignoreAllNullColumns: true).ExecuteCommandAsync();
}
@:
}
                // 关闭事务
                _db.CommitTran();
            }
            catch (Exception)
            {
                // 回滚事务
                _db.RollbackTran();

                throw Oops.Oh(ErrorCode.COM1000);
            }
        }

        input.@(@Model.LowerPrimaryKey) = entity.@(@Model.PrimaryKey);
    }

    /// <summary>
    /// 工作流表单操作.
    /// </summary>
    /// <param name="id"></param>
    /// <param name="obj"></param>
    /// <param name="type">0：事前审批，1：创建子流程</param>
    /// <returns></returns>
    [NonAction]
    public async Task Save(string id, object obj, int type)
    {
        try
        {
            var input = obj.ToObject<@(@Model.MainTable)UpInput>();
            var entity = input.Adapt<@(@Model.MainTable)Entity>();

@foreach(var table in Model.AuxiliayTableRelations)
{
            @:var auxiliay@(@table.TableName) = input.Adapt<@(@table.TableName)Entity>();
@:
}
            if (type == 0)
            {
                await HandleForm(id, input);
            }
            else
            {
@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:var dbLink = await _repository.Context.Queryable<DbLinkEntity>().FirstAsync(it => it.Id.Equals("@(@Model.DbLinkId)"));
                @:_sqlSugarClient = _dataBaseManager.ChangeDataBase(dbLink);
@:
}
                entity.@(@Model.PrimaryKey) = id;
@foreach(var column in Model.TableField)
{
@if(!column.IsAuxiliary)
{
@switch(column.qtKey)
{
case "createTime":
                @:entity.@column.ColumnName = DateTime.Now;
break;
case "createUser":
                @:entity.@column.ColumnName = _userManager.UserId;
break;
case "currPosition":
                @:entity.@column.ColumnName = _userManager.User.PositionId;
break;
case "currOrganize":
                @:entity.@column.ColumnName = _userManager.User.OrganizeId;
break;
case "billRule":
                @:entity.@column.ColumnName = await _billRullService.GetBillNumber("@(@column.Rule)");
break;
}
}
}

@*跨库*@
@if(Model.DbLinkId != "0")
{       
                @:await _sqlSugarClient.Insertable(entity).IgnoreColumns(ignoreNullColumn: true).ExecuteReturnEntityAsync();
}else{
                @:await _repository.InsertAsync(entity);
}

@foreach(var table in Model.AuxiliayTableRelations)
{
                @:auxiliay@(@table.TableName).@(@table.PrimaryKey) = SnowflakeIdHelper.NextId();
                @:auxiliay@(@table.TableName).@(@table.TableField) = entity.@(@table.RelationField);
@foreach(var column in Model.TableField)
{
@if(column.IsAuxiliary && column.TableName == table.OriginalTableName)
{
@switch(column.qtKey)
{
case "createTime":
                @:auxiliay@(@table.TableName).@column.ColumnName = DateTime.Now;
break;
case "createUser":
                @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.UserId;
break;
case "currPosition":
                @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.User.PositionId;
break;
case "currOrganize":
                @:auxiliay@(@table.TableName).@column.ColumnName = _userManager.User.OrganizeId;
break;
case "billRule":
                @:auxiliay@(@table.TableName).@column.ColumnName = await _billRullService.GetBillNumber("@(@column.Rule)");
break;
}
}
}
@:
}
@foreach(var table in Model.AuxiliayTableRelations)
{
@*跨库*@
@if(Model.DbLinkId != "0")
{
                @:await _sqlSugarClient.Insertable(auxiliay@(@table.TableName)).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}else{
                @:await _repository.Context.Insertable(auxiliay@(@table.TableName)).IgnoreColumns(ignoreNullColumn: true).ExecuteCommandAsync();
}
@:
}
            }
        }
        catch (Exception e)
        {
            throw;
        }
    }
}